.dropdown {
    position: relative;
    &::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
    }
}
.down-container {
    margin: 0;
    top: 30px;
    position: absolute;
    padding-left: 0px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    float: left;
    color: #fff;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: all 0.2s;
}
.down-container > li {
    list-style: none;
    font-size: 14px;
    background: #444;
    padding-left: 4px;
    margin: 0;
    padding: 4px 30px;
    &:active {
        color: #8ad4dc;
    }
    &:hover {
        background: #333;
    }
}